@media (max-width:768px){
    

.contents_wrap{}
.pc{display: none;}


/* 3.layout */

/* topWrap  탑 & 메뉴 */
header.mo{
    z-index: 1000;
    position: fixed;
    left: 0;
    top: 30px;
    width: 100%;
/* chrome실행 -> 약 500px */
    height: 40px;
}

.innerHead{
    /* border: 1px solid red; */
    border-bottom: 1px solid #fff;
    padding-bottom: 20px;
    width: 90%;
    height: 100%;
    margin: 0 auto;
    display: flex;
    justify-content:space-between;
    align-items: center;
}


/* 메뉴랑 로고 */
.Head1{
    /* border: 1px solid pink; */
    width: 40px;
    /* height: 100%; */
    position: relative;
    display: flex;
    /* justify-content: space-around; */
    align-items: center;
}
.btnMenu{
    /* border: 1px solid gold; */
    width: 40px ;
    height: 40px;
    cursor: pointer;
    
}
.btnMenu>span{
    width: 40px;
    height: 3px;
    background: #fff;
    border-radius: 50px;
    margin: 11px auto;
    margin-top: 6.1px;
    display: block;
    transform-origin: 0% center;
    /* 기준점을 센터로 설정 -> rotate할때 이 기준점을 중심으로 rotate됨 */
    transition: all 0.5s ease 0s;
}
.logo{
    /* border: 1px solid lime; */
    width: 300px;
    height: 100%;
    padding: 0 10px;
    cursor: pointer;
}
.logo img{
    display: none;
    object-fit: contain;
}
.logo>a{
    /* border: 1px solid pink; */
    box-sizing: border-box;
    display: block;
    width: 100%;
    height: 100%;
    background: url(../img/SVG/logo.svg) no-repeat 50% 50%;
    background-size: contain;
}

/* 로고 색 변경 */

.logo> a.on{
    background: url(../img/SVG/logo_black.svg) no-repeat 50% 50%;
    background-size: contain;
}


/* 버튼을 누르면 바뀌는 모양 */
.btnMenu.close >span:nth-of-type(2){
    opacity: 0;
}
.btnMenu.close >span:nth-of-type(1){
    transform: rotate(44deg);
    margin-left: 5.6px;
    background-color: #000;
}
.btnMenu.close >span:nth-of-type(3){
    transform: rotate(-47deg);
    margin-left: 5.6px;
    background-color: #000;
}




/* 페이지 제목 & 아이콘 */
.toptitle{
    /* border: 1px solid lime; */
    height: 100px;
    margin-right: 200px;
    font-size: 5rem; 
    font-weight: bold;
    font-family:'Roboto Condensed', sans-serif;
    line-height: 100px;
}


/* subpage Title */
h1.subtit1{
    color: #fff;  
    font-weight: bold;
    line-height: 100px;
}
h1.sub3tit{
    padding-right: 200px;
}


/* 아이콘 영역 */
.Head2{
    /* border: 1px solid gold; */
    width: 25px;
    height: 100%;
}
.topicon{
    height: 100%;
    display: flex;
    justify-content: space-around;
    align-items: center;
}
.topicon>a{
    /* border: 1px solid aqua; */
    box-sizing: border-box;
    display: block;
    width: 100%;
    height: 100%;
    background: url(../img/SVG/search_icon.svg) no-repeat 50% 50%;
    background-size: contain;
}
.topicon>a>img{
    display: none;
    object-fit: contain;
}

.topicon> a.on{
    background: url(../img/SVG/search_black_icon.svg) no-repeat 50% 50%;
    background-size: contain;
}


/* 메뉴 */
nav{
    /* border: 10px solid blue; */
    position: fixed;
    left: 0;
    top: 0;
    width: 100%;
    height:100%;
    background: rgba(255,255,255,0.9);
    color: #000;
    padding: 10px;
    box-sizing: border-box;
    transform: translateX(-100%);
    transition: all 0.5s ease 0s;
    z-index: 100;
}
nav.on{transform: translateX(0); }

.gnb{
    /* border: 1px solid gold; */
    width: 90%;
    margin: 0 auto;
    margin-top: 150px;
}

.gnb>li{
    /* border: 1px solid pink; */
    height: 50px;
    overflow: hidden;
    transition: all 0.5s ease 0s;
}
.gnb>li:hover{
    border-bottom: 1px solid #ccc;
}
.gnb>li>a{
    height: 50px;
    box-sizing: border-box;
    align-items: center;
    font-size: 24px;
    letter-spacing: 2px;
    font-weight: bold;
    text-transform: uppercase;
    display: flex;
    justify-content: space-between;
}
.depi{
    width: 15px;
    height: 15px;
    position: relative;
    transition: all 0.5s ease 0s;
}
.depi::before{
    content: '';
    background: #333;
    width: 15px;
    height: 2px;
    position: absolute;
    /*position absolute를 설정하면 암묵적으로 inline-block형태로 지정됨 */
    left: 0;
    top: 50%;
    transform: translateY(-50%);
}
.depi::after{
    content: '';
    background: #333;
    width: 2px;
    height: 15px;
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    top: 0;
}

.gnb>li.on .depi::after{
    display: none;
}

.gnb_submenu{
    /* border: 1px solid green; */
    background: #333;
    color: #fff;   
}
.gnb_submenu>li{ 
    height: 50px;
    padding-left: 10px;
    display: flex;
    align-items: center;
    font-size: 22px;
    /* font-weight: bold; */
    text-transform:uppercase ;
}
.gnb_submenu>li:hover{
    background: #adb5bd;
    color: #222;
}

.lnb{
    /* border: 1px solid salmon; */
    width:90%;
    margin: 0 auto;
    margin-top: 50px;
}
.lnb>li{
    /* border: 1px solid pink; */
    height: 50px;
    overflow: hidden;
    transition: all 0.5s ease 0s;
}
.lnb>li:hover{
    border-bottom: 1px solid #ccc;
}
.lnb>li>a{
    height: 50px;
    box-sizing: border-box;
    align-items: center;
    font-size: 20px;
    letter-spacing: 2px;
    font-weight: bold;
    text-transform: uppercase;
    display: flex;
    justify-content: space-between;
}
.lnb>li.on .depi::after{
    display: none;
}

.lnb_submenu{
    /* border: 1px solid lime; */
    background: #333;
    color: #fff;
}

.lnb_submenu>li{
    height: 50px;
    padding-left: 10px;
    display: flex;
    align-items: center;
    font-size: 20px;
    text-transform:uppercase ;
}
.lnb_submenu>li:hover{
    background: #adb5bd;
    color: #222;
}
.menuImg{
    /* border: 1px solid red; */
    width: 130px;
    height: 130px;
    position: absolute;
    right: 40px;
    bottom: 30px;
    transition:all 0.5s ease 0s;
}
.menuImg.hidden{
    bottom:-160px;
}
.menuImg>img{
    width: 100%;
    height: 100%;
    object-fit: cover;
    box-shadow: 10px 10px 3px #666;
}


/* top버튼 */
.footwrap{
    /* border: 1px solid red; */
    position: relative;
}
.btnTop{
    /* border: 1px solid red; */
    width: 30px;
    height: 30px;
    position: absolute;
    right: 20px;
    top: 10px;
    /* transform: translateY(50%); */
    cursor: pointer;
}



/* 메인페이지 */

/* mainpage 슬라이드 */

main{position: relative; margin-bottom: 50px;}
.swiper{
    /* border: 10px solid red; */
    width: 100%;
    height: 95vh;    
    z-index: 11;
}
.train{
    /* border: 1px solid blue; */
    width: 100%;
    height: 100%;
    position: relative;
}

.train>li.swiper-slide{
    pointer-events: none;
}

.train>li.swiper-slide-active{
    opacity:1;
}

.slide1>.backimg{
    width: 100%;
    height: 180px;
    position: absolute;
    left: 0;
    top: 150px;
    /* transform: translateY(-50%); */
}
.slide1>.backimg>img{
    width: 100%;
    height: 100%;
    object-fit: cover;
}
.slide1>.mainimg{
    width: 300px;
    height: 480px;
    position: absolute;
    left: 50%;
    bottom: 50px;
    transform: translateX(-50%);
}
.slide1>.mainimg>img{
    width: 100%;
    height: 100%;
    object-fit: cover;
    filter: grayscale(1) brightness(0.9);
    transition: all 0.2s ease 0s;
}
.slide1>.mainimg>img:hover{
    filter: grayscale(0) brightness(1);
}

.slide2>video{
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.slide3>img{
    width: 500px;
    height: 300px;
    object-fit: cover;
    position: absolute;
    left: 0;
    bottom: 150px;
}

.station1>.swiper-pagination{
    z-index: 10;
    cursor: pointer;
}

.station1 .swiper-pagination-bullet{
    width: 15px;
    height: 15px;
    background: var(--swiper-pagination-bullet-inactive-color,#fff);
    opacity: var(--swiper-pagination-bullet-inactive-opacity, .5);
} 
.station1 .swiper-pagination-bullet-active {
    opacity: var(--swiper-pagination-bullet-opacity, 1);
    background: white;
}


.mainAct{
    /* border: 1px solid red; */
    width: 450px;
    height: 200px;
    z-index: 5;
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    top: 150px;
    /* display: none; */
}

.typo>a{
    width: 100%;
    height: 100%;
    position: absolute;
    left: 0px;
    top: 0px;
    cursor: pointer;
}
.typo>a>img{
    /* border: 1px solid gold; */
    width: 100%;
    height: 100%;
    object-fit: contain;
}
.triangle{
    z-index: 10;
    width: 19px;
    height: 22px;
    object-fit: cover;
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    top: 20px;
    cursor: pointer;
}

.circle{
    border: 1px dashed #fff;
    border-radius: 50%;
    width: 230px;
    height: 230px;
    z-index: 10;
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    top: 0px;
}


/* 서브페이지 */

/* sub1 main */
.subpage1{
    position: relative;
}
.subpage1>.mainContainer{
    /* border: 5px solid gold; */
    width: 90%;
    margin: 0 auto;
    position: relative;   
}


.subpage1 .mainTop{
    /* border: 1px solid blue; */
    width: 100%;
    height: 750px;
    margin: 0 auto;
    margin-top: 100px;
    padding-top: 20px;
}
.motitle{
    /* border: 1px solid red; */
    padding: 10px 0;
    color: #fff;
    font-size:3rem;
    text-align: center;
    margin-bottom: 80px;
}
.mainLeft{
    /* border: 1px solid red; */
    width: 100%;
    height: 200px;
    margin-bottom:100px;
    position: relative;
}
.typoLeft{
    /* border: 1px solid pink; */
    width: 100%;
    height: 100%;  
    
}
.circleLeft{
    border: 1px dashed #fff;
    border-radius: 50%;
    width: 300px;
    height: 300px;
    position: absolute;
    left: 50%; 
    top: -50px;
    transform: translateX(-50%);
}

.mainRight{
    /* border: 1px solid red; */
    padding: 10px 0;
    width: 100%;
    height: 250px;
}
.mainRight>video{
    width: 100%;
    height: 100%;
    object-fit: cover;
}


/* clothes */
.clothes{
    /* border: 1px solid red;  */
    width: 100%;
    height: 1000px;
    margin-top: 80px;
}

.clothes>.contTitle1>h1{
    /* border: 1px solid lime; */
    padding: 10px 0;
    color: #fff;
    font-size: 3rem;
    text-align: center;
    margin-bottom: 30px;
}

.clothes img{
    width: 100px;
    height: 300px;
}

.cloSlidArea{
    width: 100%;
    height: 850px;
    /* border: 5px solid aquamarine; */
    position: relative;
}


/* 옷 슬라이드 */
.staiton2{
    /* border: 1px solid orange; */
    width: 100%;
    height: 400px;
    position: absolute;
    left: 0;
    top: 0;
    overflow: hidden;
}
.train2{
    width: 1000%;
    height: 100%;
    display: flex;
    transition: all 0.5s ease 0s;
}
.list1{
    width: 10%;
    height: 100%;
}
.list1 img{
    width: 300px;
    height: 100%;
    object-fit: contain;
}
.controler .btnNext{
    /* border: 1px solid red; */
    width: 25px;
    height: 30px;
    position: absolute;
    right: 20%;
    top: 200px;
    cursor: pointer;
}
.btnNext img{
    width: 100%;
    height: 100%;
    object-fit: contain;
}


/* 악세사리 슬라이드 */
.staiton3{
    /* border: 1px solid orange; */
    width: 100%;
    height: 400px;
    position: absolute;
    right: 0;
    bottom: 0;
    overflow: hidden;
}
.train3{
    width: 1000%;
    height: 100%;
    display: flex;
    transition: all 0.5s ease 0s;
}
.list2{
    width: 10%;
    height: 100%;
}
.list2 img{
    width: 300px;
    height: 100%;
    object-fit: contain;
}
.controler .btnPrev{
    width: 25px;
    height: 30px;
    position: absolute;
    right: 20%;
    bottom: 200px
}
.btnPrev img{
    width: 100%;
    height: 100%;
    object-fit: contain;
}



/* photos */
.photos{
    margin-top: 30px;
    /* border: 1px solid skyblue; */
    width: 100%;
    height: 1000px;
    margin-bottom: 100px;
}

.photos>.contTitle2>h1{
    /* border: 1px solid red; */
    padding: 10px 0;
    color: #fff;
    font-size: 3rem;
    text-align: center;
    margin-bottom: 40px;
}

/* 쇼 사진 슬라이드 */
.phoSlidArea{
    /* border: 2px solid violet; */
    width: 100%;
    height: 400px;
    margin-top: 30px;
    margin: 0 auto;
}

.post-slider{
    /* border: 1px solid lime; */
    width: 100%;
    position: relative;
    overflow: hidden;
}


/* 버튼 */
.btn>a{
    /* border: 1px solid red; */
    z-index: 10;
    text-align: center;
}
.post-slider .prev{
    width: 15px;
    height: 20px;
    position:absolute;
    top:50%;
    transform: translateY(-50%);
    left:30px;
    color:gray;
    cursor: pointer;
}

.post-slider .next{
    width: 15px;
    height: 20px;
    position:absolute;
    top:50%;
    transform: translateY(-50%);
    right:30px;
    color:gray;
    cursor: pointer;
}
.post-slider .next,.prev img{
    object-fit: contain;
}

/* 슬라이드 이미지 */
.post-slider .post-wrapper{
    width: 1200px;
    height: 100%;
    margin: 0px auto;
    /* border:1px dashed blue; */
  }
.post-slider .post-wrapper .post>a{
    width: 280px;
    height: 400px;
    display:inline-block;
}
.post>a>img{
      width: 100%;
      height: 100%;
      object-fit: cover;
}


/* 쇼 사진 팝업창 */
.photo2{
    /* border: 1px solid red; */
    width: 100%;
    /* height: 200px; */
    margin-top: 80px;
}
.photo2>.section1{
    /* border: 1px solid aqua; */
    display: flex; 
    justify-content: center;
    width: 100%;
    height: 50%;

}
.photo2>.section1>.show1{width: 90px; }
.photo2>.section1>.show2{width: 210px; cursor: pointer;}
.photo2>.section1>.show3{width: 130px;}

.photo2>.section2{
    /* border: 1px solid blue; */
    display: flex; 
    justify-content: center;
    width: 100%;
    height: 50%;
}
.photo2>.section2>.show4{width: 120px;}
.photo2>.section2>.show5{width: 130px;}
.photo2>.section2>.show6{width: 90px;}
.photo2>.section2>.show7{width: 90px;}

/* 팝업창 */

.pop_wrap{
    z-index: 2000;
    width: 100%;
    height: 100%;
    position: fixed;
    top: 0;
    left: 0;
    background-color: #000000dd;
    padding-top: 150px;
    display: none;
}
.popup{
    /* border: 1px solid red; */
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%,-50%);
    width: 440px;
    height: 300px;
    padding: 10px;
}
.popup .pop_cont{
    /* border: 1px solid lime; */
    width: 400px;
    height: 250px;
    margin: 0 auto;
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%,-50%);
}
.pop_cont>img{
    width: 100%;
    height: 100%;
    object-fit: cover;
}
.popup .pop_close{
    /* border: 1px solid red; */
    width: 30px;
    height: 30px;
    position: absolute;
    right: 0;
    top: 0;
    cursor: pointer;
}
.popup .pop_close>span{
    display: block;
    width: 100%;
    height: 2px;
    border-radius:50px ;
    background: #fff;
    margin: 0 auto;
    margin-top: 6.1px;
}
.pop_close>span:nth-of-type(1){
    position: absolute;
    left: 0;
    top: 8px;
    transform: rotate(45deg);
}
.pop_close>span:nth-of-type(2){
    position: absolute;
    left: 0;
    top: 8px;
    transform: rotate(-45deg);
}



/* finphoto */
.finphoto{
    /* border: 1px solid gold; */
    width: 100%;
    margin: 100px 0;
}
.textBox{
    /* border: 1px solid pink; */
    width: 100%;
    margin-bottom: 30px;
    color: #fff;
    font-size: 30px;
    text-align: center;
}
.textBox>img{
    width: 350px;
    margin-bottom: 15px;
}

.finMain{
    /* border: 1px solid aqua; */
    width: 100%;
    height: 250px;
    position: relative;
    margin: 0 auto;
}
.finMain>img{
    /* border: 1px solid red; */
   width: 100%;
   object-fit: contain;
}
.finMain::after{
    content: '';
    width: 100%;
    height: 3px;
    background: #ffffffec;
    position: absolute;
    left: 0;
    top: 50%;
    transform: translateY(-50%);
}




/* sub1_2 - product */
/* main */
.subpage1_2{
    position: relative;
}
.subpage1_2>.mainContainer{
    /* border: 1px solid orange; */
    width: 90%;
    margin: 0 auto;
    position: relative;   
}

.topMain{
    /* border: 1px solid blue; */
    width: 100%;
    /* height: 965px; */
    margin: 0 auto;
    margin-top: 100px; 
    padding-top: 20px;

}

.topMain>.mainPoster{
    /* border: 1px solid red; */
    width: 100%;
    margin-bottom: 20px;
}
.topMain>.mainPoster>img{
    width: 100%;
    height: 100%;
    object-fit: contain;
}

.productcont{
    display: flex;
    flex-direction: column-reverse;
}
.productcont>.productPic{
    /* border: 1px solid lime; */
    width: 100%;
}
.productcont>.productPic>img{
    /* border: 1px solid red; */
    width:100%;
    height: 100%;
    object-fit: cover;
}
.productPic>h1{
    font-size: 4rem;
    text-align: center;
    padding: 10px 0;
}

.productcont>.productInfo{
    /* border: 1px solid red; */
    width: 100%;
    color: #fff;
    margin-bottom: 20px;
}
.productcont>.explain{
    width: 520px;
    margin: 0 auto;
    margin-top: 200px;
}


/* font */
.productInfo>.explain>h1{
    font-size: 45px;
    font-weight: bold;
    margin-bottom: 20px;
}
.productInfo>.explain>h2{
    font-size: 45px;
    font-weight: bold;
    margin-bottom: 20px;
}
.productInfo>.explain>h3{
    font-size: 22px;
    margin-right: 50px;
    position: relative;
    margin-bottom: 10px;
}
.productInfo>.explain>h3:after{
    content: '';
    width: 20px;
    height: 20px;
    border-radius: 50%;
    border: 1px solid #fff;
    background: #000;
    position: absolute;
    left: 90px;
    top: 3px;
}
.productInfo>.explain>ul{
    margin-bottom: 50px;
}
.productInfo>.explain>ul>li>h3{
    font-size: 22px;
    margin-right: 50px;
}
.productInfo>.explain>ul>li{
    display: flex;
    align-items: center;
}
.productInfo>.explain>ul>li>ul{
    /* border: 1px solid red; */
    width: 150px;
    display: flex;
    justify-content: space-between;
}
.productInfo>.explain>ul>li>ul>li{
    font-size: 20px;
    color: #fff;
    opacity: 0.8;
}
.productInfo>.explain>ul>li>ul>li:hover{
  opacity: 1;
}
.proIcon.mo{
    /* border: 1px solid red; */
    width: 240px;
    /* margin-bottom: 30px; */
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.proIcon.mo>a{
    /* border: 1px solid gold; */
    width: 30px;
    height: 40px;
}
.proIcon.mo>img{
   width: 100%;
   height: 100%;
   object-fit: contain;
}

.explain>p{
    font-size: 10px;
    padding: 40px 0;
    position: relative;
}
.explain>p:after{
    border: 1px solid #9a9a9a;
    width: 100%;
    content: '';
    position: absolute;
    left: 0;
    top: 30px;
}


/* sub1_2 modelWear */
.modelWear{
    /* border: 1px solid gold; */
    width: 100%;
    margin: 0 auto;
    margin-top: 100px;
}
.modelWear>h1{
    /* border: 1px solid lime; */
    color: #fff;
    font-size: 4rem;
    text-align: center;
    padding: 15px 0;
}

/* slide station5 */
.station5.swiper{
    /* border: 1px solid skyblue; */
    width: 90%;
    height: 500px;
}
.train5{
    /* width: 100%; */
    height: 460px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.train5>li{
    width: 100px;
    /* height: 392px; */
}
.train5>li img{
    width: 100%;
    height: 100%;
    object-fit: cover;
    filter: grayscale(1);
    opacity:0.9;
}


.station5 .swiper-pagination-bullet{
    width: var(--swiper-pagination-bullet-width,var(--swiper-pagination-bullet-size,8px));
    height: var(--swiper-pagination-bullet-height,var(--swiper-pagination-bullet-size,8px));
    display: inline-block;
    background: #fff;
    opacity: var(--swiper-pagination-bullet-inactive-opacity, .2);
}
.station5 .swiper-pagination-bullet-active {
    background: #fff;
    opacity: var(--swiper-pagination-bullet-inactive-opacity, 1);
}

/* otherItems */
.otherItems{
    /* border: 1px solid lime; */
    width: 100%;
    margin: 0 auto;
    margin-top: 100px;
}

.OItit{
    /* border: 1px solid lime; */
    color: #fff;
    font-size: 4rem;
    text-align: center;
    padding: 15px 0;
}

/* slide station5 */
.station6.swiper{
    width: 90%;
    height: 500px;
}
.train6{
    width: 100%;
    height: 460px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.train6>li{
    width: 100%;
    text-align: center;
}
.train6>li img{
    width: 300px;
    height: 100%;
    object-fit: cover;
}
.station6 .swiper-pagination-bullet{
    width: var(--swiper-pagination-bullet-width,var(--swiper-pagination-bullet-size,8px));
    height: var(--swiper-pagination-bullet-height,var(--swiper-pagination-bullet-size,8px));
    display: inline-block;
    background: #333;
    opacity: var(--swiper-pagination-bullet-inactive-opacity, .2);
}
.station6 .swiper-pagination-bullet-active {
    background: #333;
    opacity: var(--swiper-pagination-bullet-inactive-opacity, 1);
}




/* subpage2 */
/* main */
.subpage2{
    position: relative;
}
.subpage2>.mainContainer{
    /* border: 1px solid orange; */
    width: 90%;
    margin: 0 auto;
    position: relative;   
}

.scroll_wrap{
    /* border: 1px solid aqua; */
    width: 100%;
}
.scroll_wrap h2{
  /* border: 1px solid skyblue; */
  text-align: center;
  font-size: 4rem; 
  padding: 10px 0;
}
.con0{
    width: 100%;
    margin: 0 auto;
    margin-top: 100px; 
    padding-top: 20px;
}
.con1{
    /* border: 1px solid red; */
    margin-bottom: 40px;
}
.con1_content{
    /* border: 1px solid lime; */
    width: 100%;
    margin-top: 30px;
}

.con1_content>img{
    width: 100%;
    height: 100%;
    object-fit: contain;
    /* padding: 30px; */
}
.con1_content>p{
    /* border: 1px solid red; */
    padding: 30px 0;
    font-family: 'S-CoreDream-3Light';
    text-align: center;
    font-size: 14px;
    word-spacing: 1px;
    line-height: 2;
}

.con2{
    /* border: 1px solid lime; */
    width: 100%;
    margin-top: 150px;
    padding-top: 50px;
    margin-bottom: 100px;
}


.con2>video{
    /* border: 1px solid pink; */
    padding-top: 40px;
    width: 100%;
}
.con2>p.videoInfo{
    /* border: 1px solid red; */
    padding: 20px 0;
    text-align: center;
    font-size: 16px;
}


.con3{
    /* border: 10px solid red; */
    margin-top: 180px;
    padding-top: 50px;
    align-items: center;
}

.con3_cont{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.scroll_wrap .con3_cont>.mltr{
    /* border: 1px solid red; */
    width: 446px;
    height: 330px;
    margin-bottom: 80px;
    transform: translateX(-100px);
    opacity: 0;
    transition: all 2s ease 0s;
}
.con3_cont>.mltr.on{
    transform: translateX(0);
    opacity: 1;
}

.con3_cont>.mltr>img{
    width: 100%;
    height: 100%;
    object-fit: contain;
}
.scroll_wrap .con3_cont>.mrtl{
    /* border: 1px solid violet; */
    width: 80px;
    height: 187px;
    transform: translateX(100px);
    opacity: 0;
    transition: all 2s ease 0s;
}
.con3_cont>.mrtl.on{
    transform: translateX(0);
    opacity: 1;
}
.con3_cont>.mrtl>img{
    width: 100%;
    height: 100%;
    object-fit: contain;
}




/* subpage3 */
.subpage3{
    position: relative;
}
.subpage3>.mainContainer{
    /* border: 1px solid orange; */
    width: 90%;
    margin: 0 auto;
    position: relative;   
}

.sub3tab{
    /* border: 1px solid skyblue; */
    width: 100%;
    margin: 0 auto;
    margin-top: 100px; 
    padding-top: 20px;
}
.sub3tab>h1{
    /* border: 1px solid red; */
    text-align: center;
    font-size: 4rem; 
    margin: 0 auto;
    padding: 10px 0;
}
.tabMenu1.pc{display: none;}
.tabMenu1.mo{
    /* border: 1px solid lime; */
    width: 100%;
    /* height: 990px; */
    margin: 0 auto;
    margin-bottom: 40px;
    transition: all 0.5s ease 0s;
}
.tabMenu1.mo>dt{
    /* border: 1px solid skyblue; */
    border-bottom: 1px solid #fff;
    color: #fff;
    opacity: 0.8;
    height: 40px;
    cursor: pointer;
    padding: 15px 50px;
    font-size: 24px;
    text-align: center;
    /* transition: all 0.5s ease 0s; */
}
.tabMenu1.mo>dt>a{
    /* border: 1px solid red; */
    height: 40px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.tabMenu1.mo>dt>a::after{
    content: '';
    width: 25px;
    height: 25px;
    /* border: 1px solid red; */
    background: url(../img/SVG/plus.svg) no-repeat 50% 50%;
    background-size: contain;
}
.tabMenu1.mo>dt.on {
    opacity: 1;
    border-bottom: 1px solid #fff;
}
.tabMenu1.mo>dt.on a::after{
 transform: rotate(45deg);
}


.tabMenu1.mo>dd{
    /* border: 1px solid gold; */
    width: 100%;
    height: 100%;
    display: none;
    /* transition: all 0.5s ease 0s; */
}

.tabMenu1.mo> dt.on + dd{ 
    display: block;
}

.tabMenu1.mo .contBox{
    /* border: 1px solid salmon; */
    width: 100%;
}
.contBox>figure{
    /* border: 1px solid violet; */
    margin-top: 30px;
    width: 100%;
    height: 300px;
}
.contBox>figure img{
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.txtBox{
    /* border: 1px solid lime; */
    width: 100%;
    font-family: 'S-CoreDream-3Light';
}
.txtBox>.contInfo{
    /* border: 1px solid pink; */
    display: flex;
    align-items: center;
   padding: 20px 0;
}
.contBox .contInfo>h3{
    /* border: 1px solid gold; */
    font-size: 3.5rem;
    font-weight: bold;
    margin-right: 30px;
}
.contBox .contInfo>h4{
    /* border: 1px solid pink; */
    font-size: 2.2rem;
}

.contP>p{
    width: 100%;
    font-size: 12px;
    text-align: left;
    word-spacing: 1px;
    line-height: 2; 
    margin-bottom: 20px;
}
.contP>p:last-of-type{margin-bottom: 0;}


.p_index{
    /* border: 1px solid red; */
    margin-top: 20px;
    width: 100%;
    text-align: left;
}
.p_index>h5{
    font-size: 1.2rem;
    font-weight:  bold;
    padding: 10px 0;
}
.p_index>ul{
    padding-left: 1.1rem;
    list-style: disc;
}
.p_index>ul>li{
    padding: 8px 0;
}

blockquote{
    font-size: 1.1rem; 
    font-weight: bold;
    margin-bottom: 10px;
}



/* footer */
footer.mo{
    background: #000;
    color: #fff;
    width: 100%;
}
/* 로고 */
.fLogo{
    padding: 10px 0;
    width: 100%;
}
.fLogo img{
    width: 300px;
    margin-left: 30px;
}

.footContainer{
    /* border: 1px solid red; */
    width: 90%;
    margin: 0 auto;
}
.footMenu1{
    /* border: 1px solid lime; */
    display: flex;
    flex-direction: column-reverse;
}
.fmMid{
    /* border: 1px solid red; */
    padding-top: 30px;
    margin-bottom: 20px;
}
.fmMid>ul{
    /* border: 1px solid lime; */
    width: 100%;
    margin: 0 auto;
}
.fmMid>ul>li{
    /* border: 1px solid gold; */
    /* width: 100%; */
    height: 50px;
    overflow: hidden;
    transition: all 0.5s ease 0s;
}
.fmMid>ul>li>a{
    display: flex;
    height: 50px;
    justify-content: space-between;
    align-items: center;
    font-size: 16px;
    font-weight: bold;
}
.fmMid>ul>li>a::after{
    content: '';
    /* border: 1px solid red; */
    width: 25px;
    height: 25px;
    background: url(../img/SVG/arrow.svg) no-repeat 50% 50%;
    background-size: contain;
    transition: all 0.3s ease 0s;
}
.fmMid>ul>li.on>a::after{
    transform: rotate(180deg);
}
.fmMid>ul>li>ul{
    /* border: 1px solid violet; */
    font-size: 14px;
    color: #ebebeb;
}
.fmMid>ul>li>ul>li{
    /* border: 1px solid red; */
    padding: 0 10px;
    background: #333;
    height: 40px;
    display: flex;
    align-items: center;
}

.fmLeft{
    /* border: 1px solid blue; */
    margin-bottom: 20px;
}
.fmLeft>.select section{
    /* border: 1px solid red; */
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.fmLeft>.select section:nth-of-type(1)>select{
    background: #000;
    color: #fff;
    width: 300px;
    padding: 10px;
}
.fmLeft>.select section:nth-of-type(2) >select{
    background: #000;
    color: #fff;
    width: 300px;
    padding: 10px;
}
.footBottom{
    /* border: 1px solid aqua; */
    display: flex;
    flex-direction: column-reverse;
    align-items: center;
}
.address{
    flex: 1;
    padding: 20px 0;
}
.address>p{
    font-size: 4px;
    margin-bottom: 5px ;
}
.footicon{
    /* border: 1px solid red; */
    padding: 20px 0;
    flex: 1;
    display: flex;
    justify-content: space-between;
}
.footicon>a{
    /* border: 1px solid gold; */
    flex: 1;    
    padding: 0 8px;
    height: 30px;        
}
.footicon>a>img{
    width: 100%;
    height: 100%;
    object-fit: contain;
}





}